@import 'variables.scss';
@import 'mixin.scss';

.banner {
    .container {
        max-width: 1148px;
    }
    &__body{
        padding: 90px 0px; 
        @include flex-sb;
        @media only screen and (max-width: 1300px) {
            flex-direction: column;
        }
    }
    &__content{
        &_subtitle {
            color: $orange;
            font-size: 20px;
            font-weight: 700;
            line-height: 155.2%;
            @media only screen and (max-width: 1300px) {
                font-size: 16px;
                text-align: center;
            }
        }

        &_title {
            padding: 17px 0px 26px 0px;
            font-size: 50px;
            font-weight: 700;
            line-height: 155.2%;
            @media only screen and (max-width: 1300px) {
                font-size: 36px;
                text-align: center;
            }
            @media only screen and (max-width: 768px) {
                font-size: 24px;
            }
        }
        &_text {
            font-size: 16px;
            font-weight: 500;
            line-height: 200%;
            padding-bottom: 50px;
            @media only screen and (max-width: 1300px) {
                font-size: 14px;
                text-align: center;
            }
        }
        &_btn {
            border: none;
            text-align: center;
            border-radius: 40px;
            background-color: $orange;
            padding: 15px 30px;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            display: inline-block;
            margin-bottom: 40px;
            @media only screen and (max-width: 1300px) {
                display: block;
                max-width: 400px;
                margin: 0px auto;
            }
        }
    }
}